.env
.DS_Store
contents_generation/lectures
*.pyc
__pycache__/
*.png
*.jpg
*.wav
supabase/.temp/
contents_generation/test_codes/deberta/labeled_transcripts/
contents_generation/test_codes/deberta/version1/
contents_generation/test_codes/deberta/transcript_with_role.json
contents_generation/test_codes/deberta/transcript_data.json
modal/my_custom_deberta_model/