.env
.DS_Store
contents_generation/lectures
*.pyc
__pycache__/
*.png
*.jpg
*.wav
*.m4a
*.mp3
supabase/.temp/
contents_generation/test_codes/deberta/labeled_transcripts/
contents_generation/test_codes/deberta/labeled_transcripts_multilingual/
contents_generation/test_codes/deberta/version1/
contents_generation/test_codes/deberta/transcript_with_role.json
contents_generation/test_codes/deberta/transcript_data.json
modal/my_custom_deberta_model/
contents_generation/test_codes/core_extraction_test/transcript_data.json
contents_generation/test_codes/core_extraction_test/simple_transcript.txt
contents_generation/test_codes/faster_whisper/lecture_audio.m4a
contents_generation/test_codes/faster-whisper/transcript_result.json
docs/*

# Web / Node
node_modules/
dist/
.vite/
*.local
.env.example